
/.phpunit.cache
/public/build
/public/hot
/vendor/srmklive
/public/storage
/storage/*.key
/storage/uploads
/storage/app/public
/storage/installed
/vendor
.env
.env.example
.env.backup
.env.production
.phpunit.result.cache
/node_modules

Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.fleet
/.idea
/.vscode

